.title {
    font-weight: bold;
    color: red;
}
.doneTitle {
    font-weight: bold;
    color: red;
    text-decoration: line-through;
}
.deleteButton {
    background-color: red;
    float: right;
}
.doneButton {
    background-color: green;
    float: right;
}
.container {
    margin-top: 5px;
    margin-left: 10px;
    border: 2px solid; 
    border-radius: 8px;
    border-color: black;
    padding: 10px;
    width: 50%;
    
}